@tailwind base;
@tailwind components;
@tailwind utilities;
/*--
 BASIC
 ---------------------------------------
 */
body * {
    font-family: "Lato", sans-serif;
    font-size: 1em;
    background-color: rgb(241, 241, 241);
    margin: 0;
    width: 100%;
}
body {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: auto;
}

#dashboard-body {
    max-width: 100%;
    width: 100vw;
}
#dashboard-body main{
    background-color: white !important;
    width: 90%;
    margin-left: 10%;
    max-width: 100%;
}
#root {
    width: 100%;
    background: transparent;
}

/*--
 LOGIN AND POPUPS
 ---------------------------------------
 */
.login-section {
    display: grid;
    height: 100vh;
}
#logo {
    transition: 2s;
}
#logo.active {
    filter: saturate(100) !important;
    transition: 2s all;
}
/*--
ESSENTIAL COMPONENTS
 ---------------------------------------
 */
.nav-default {
    position: fixed;
    height: 100%;
    width: 15%;
    z-index: 999;
    top: 0;
    left: 0;
}
/*--
 INNER DASHBOARD
 ---------------------------------------
 */
#discord-current div {
    background: none;
}
#discord-current h3 {
    background: none;
}
#dmessage {
    background-color: rgba(255, 255, 255, 0.38);
    border-radius: 0px 0px 0px 10px;
}
#dmessage * {
    margin: 5%;
}
#dmessage b {
    width: 20%;
}
/*--
WIDGETS
 ---------------------------------------
 */
.top-weather-widget {
    filter: saturate(0);
    width: 90%;
    margin: auto;
}
.top-weather-widget:hover {
    filter: saturate(1) hue-rotate(90deg);
    transition: .5s;
}