@tailwind base;
@tailwind components;
@tailwind utilities;
/*--
 BASIC
 ---------------------------------------
 */
body * {
    font-family: "Lato", sans-serif;
    font-size: 1em;
    background-color: rgb(241, 241, 241);
    margin: 0;
    width: 100%;
}
#dashboard-body {
    background-color: white !important;
}
#root {
    width: 100%;
    max-width: 100%;
    min-width: 100%;
    background: transparent;
}

/*--
 LOGIN AND POPUPS
 ---------------------------------------
 */
.login-section {
    display: grid;
    height: 100vh;
}
#logo {
    transition: 2s;
}
#logo.active {
    filter: saturate(100) !important;
    transition: 2s all;
}