@tailwind base;
@tailwind components;
@tailwind utilities;
/*--
 BASIC
 ---------------------------------------
 */
body * {
    font-family: "Lato", sans-serif;
    font-size: 1em;
    background-color: rgb(241, 241, 241, 0.5);
    margin: 0;
    width: 100%;
}
body {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: auto;
    background: url("src/assets/media/background.jpg");
}

#dashboard-body {
    max-width: 100%;
    width: 100vw;
}
#dashboard-body main{
    background-color: white !important;
    width: 90%;
    margin-left: 10%;
    max-width: 100%;
}
#root {
    width: 100%;
    background: transparent;
}

/*--
 LOGIN AND POPUPS
 ---------------------------------------
 */
.login-section {
    display: grid;
    height: 100vh;
}
#logo {
    transition: 2s;
}
#logo.active {
    filter: saturate(100) !important;
    transition: 2s all;
}
/*--
ESSENTIAL COMPONENTS
 ---------------------------------------
 */
.nav-default {
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    height: 100%;
    width: 15%;
    z-index: 999;
    backdrop-filter: blur(5px);
    top: 0;
    left: 0;
    background-color: rgb(255,255,255,0.5);
    border-right: 1px solid rgba(218, 218, 218, 0.5);
}
.nav-default a {
    background: linear-gradient(30deg, white, #ececec);
    box-shadow: 0 3px #ececec;
    width: 80%;
    padding: 5%;
    margin-top: 6%;
    margin-left: 10%;
    color: black;
}
.nav-default a:hover {
    background: linear-gradient(30deg, #ffffff, #cdcdcd);
}
nav > div {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
}

nav button {
    background-color: #ffffff;

    width: 20%;
    height: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
}
nav img {
    width: 80%;
    background: none;
}
.nav-default a:hover {
    background-color: rgba(220, 237, 246, 0.38);
    text-decoration: none;
    color: black;
}
.nav-menu {
    height: 7%;
    background-color: rgb(255,255,255,0.5);
    flex-direction: row;
    justify-content: center;
    transition: .5s;
}
.nav-menu button:hover {
    background-color: #efefef;
    transition: .3s;
}
.nav-menu button:hover img {
    filter: brightness(50%);
}
/*--
 INNER DASHBOARD
 ---------------------------------------
 */
#discord-current div {
    background: none;
}
#discord-current h3 {
    background: none;
}
#dmessage {
    background-color: rgba(255, 255, 255, 0.38);
    border-radius: 0px 0px 0px 10px;
}
#dmessage * {
    margin: 5%;
}
#dmessage b {
    width: 20%;
}
/*--
WIDGETS
 ---------------------------------------
 */
#UTC-times a{
    color: black;
    width: 15%;
    padding: 1%;
    background-color: #f3f3f3;
}
#UTC-times a:hover {
    text-decoration: none;
    background-color: #dadada;
}
.top-weather-widget {
    filter: saturate(0);
    width: 90%;
    margin: auto;
}

.top-weather-widget:hover {
    filter: saturate(1) hue-rotate(90deg);
    transition: .5s;
}
.tradingview-widget-container {
    filter: saturate(0);
}
.tradingview-widget-container:hover {
    filter: saturate(1);
    transition: .5s;
}